<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zsi-Market</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:400,700|Saira:400,700&amp;subset=latin-ext"
        rel="stylesheet">
    <link href="lib/dist/css/lightbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/dropzone.css">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    </style>
    <script src="js/dropzone.js"></script>
</head>

<body>
    <div class="wrapper">
        <header class="clearfix">
            <a href="http://sellfast.pl"><figure class="logo"><picture><source media="(max-width: 640px)" srcset="img/logo-mobile.png"><img src="img/logo.png" alt="logo"></picture></figure></a>
            <nav>
                <ul>
                    <!-- <li><a href="#"><i class="fas fa-star"></i>Obserwowane</a></li> -->
                </ul>
            </nav>


            <form class="my_offers" method="get" action="books">
                <span class="info"><img  alt="Wskazówka" title="Porada" src="img/advice.png"></img>Wprowadź nazwę by wyświetlić swoje aktualne oferty.</span>
                <input maxlength="15" pattern="\S+" required type="text" placeholder="Użytkownik" name="login">
                <button onclick="findSubjects()" type="submit">Moje oferty</button>
            </form>


        </header>
        <main>
            <section class="add_book">
                <h2>Dodaj książkę</h2>
                <span class="validate"></span>
                <form name="mainForm" method="post" enctype="multipart/form-data" action="books"
                    onsubmit="return validateForm()" novalidate>
                    <div class="row">
                        <div class="row">
                            <input pattern="\S+" required type="text" placeholder="Użytkownik" name="login">
                            <input pattern="\S+" required type="password" placeholder="Hasło" name="password">
                            <select required name="class">
                                <option value="">Do klasy</option>
                                <option value="1">1 - Pierwszej</option>
                                <option value="2">2 - Drugiej</option>
                                <option value="3">3 - Trzeciej</option>
                                <option value="4">4 - Czwartej</option>
                            </select>
                            <input pattern="[0-9]{3}[0-9]{3}[0-9]{3}|[0-9]{3}-[0-9]{3}-[0-9]{3}" required type="tel"
                                placeholder="Telefon" name="num">
                            <span>||</span>
                            <input required type="email" placeholder="Email" name="email">
                        </div>
                        <div class="row clearfix">
                        </div>
                        <div class="row clearfix">
                            <textarea required pattern="\S+" minlength="10" maxlength="150" placeholder="Opis" rows="6"
                                name="description" id="description"></textarea>
                            <fieldset>
                                <legend>Wybierz przedmioty</legend>
                                <label><input class="items_checkbox animationfix" type="checkbox" name="polish"
                                        required><span>Język polski</span></label>
                                <label><input class="items_checkbox animationfix" type="checkbox" name="english"
                                        required><span>Język angielski</span></label>
                                <label><input class="items_checkbox animationfix" type="checkbox" name="german"
                                        required><span>Język niemiecki</span></label>
                                <label><input class="items_checkbox animationfix" type="checkbox" name="history"
                                        required><span>Historia</label>
                                <label><input class="items_checkbox animationfix" type="checkbox" name="entrepreneurship" required><span>P.przedsiębiorczości</span></label>
                                <label><input class="items_checkbox animationfix" type="checkbox" name="geography"
                                        required><span>Geografia</span></label>
                                <label><input class="items_checkbox animationfix" type="checkbox" name="biology"
                                        required><span>Biologia</span></label>
                                <label><input class="items_checkbox animationfix" type="checkbox" name="chemistry"
                                        required><span>Chemia</span></label>
                                <label><input class="items_checkbox animationfix" type="checkbox" name="physics"
                                        required><span>Fizyka</span></label>
                                <label><input class="items_checkbox animationfix" type="checkbox" name="math"
                                        required><span>Matematyka</span></label>
                                <label><input class="items_checkbox animationfix" type="checkbox" name="safety"
                                        required><span>EDB</span></label>
                                <label><input class="items_checkbox animationfix" type="checkbox" name="religion"
                                        required><span>Religia</span></label>
                                <label><input class="items_checkbox animationfix" type="checkbox"
                                        name="professionalCourses" required><span>Przedmioty zawodowe</span></label>
                                <label><input class="items_checkbox animationfix" type="checkbox" name="society"
                                        required><span>WOS</span></label>
                                <label><input class="items_checkbox animationfix" type="checkbox" name="culture"
                                        required><span>WOK</span></label>
                            </fieldset>
                            <span class="price">Określ cenę</span>
                            <div class="inner_row">
                                <span style="display: none;" class="price2">Określ cenę</span>
                                <div id="html5"></div>
                                <input name="price_from" type="number" id="input-select" min="0" max="500" step="1"
                                    id="input-number">
                                <input name="price_to" type="number" min="0" max="500" step="1" id="input-number">

                                <!-- <input type="file" name="files" id="file"
                                    data-multiple-caption="{count} zdjęcia wybrane" multiple />
                                <label for="file"><span>Dodaj zdjęcia</span></label> -->
                            </div>
                        </div>
                        <div class="row">
                            <div id="myDropzone" class="dropzone"></div>
                            <button type="submit" id="addOfferButton">Dodaj ofertę</button>
                        </div>
                </form>
            </section>

            <section class="select_category">
                <h2>Znajdź książkę</h2>
                <figure class="category"><img src="img/poland.png" alt="polish">
                    <figcaption>J.polski</figcaption>
                </figure>
                <figure class="category"><img src="img/england.png" alt="english">
                    <figcaption>J.angielski</figcaption>
                </figure>
                <figure class="category"><img src="img/germany.png" alt="german">
                    <figcaption>J.niemiecki</figcaption>
                </figure>
                <figure class="category"><img src="img/history.png" alt="history">
                    <figcaption>Historia</figcaption>
                </figure>
                <figure class="category"><img src="img/entrepreneurship.png" alt="entrepreneurship">
                    <figcaption>P.przedsiębiorczości</figcaption>
                </figure>
                <figure class="category"><img src="img/geography.png" alt="geography">
                    <figcaption>Geografia</figcaption>
                </figure>
                <figure class="category"><img src="img/biology.png" alt="biology">
                    <figcaption>Biologia</figcaption>
                </figure>
                <figure class="category"><img src="img/chemistry.png" alt="chemistry">
                    <figcaption>Chemia</figcaption>
                </figure>
                <figure class="category"><img src="img/physics.png" alt="physics">
                    <figcaption>Fizyka</figcaption>
                </figure>
                <figure class="category"><img src="img/maths.png" alt="math">
                    <figcaption>Matematyka</figcaption>
                </figure>
                <figure class="category"><img src="img/safety.png" alt="safety">
                    <figcaption>EDB</figcaption>
                </figure>
                <figure class="category"><img src="img/religion.png" alt="religion">
                    <figcaption>Religia</figcaption>
                </figure>
                <figure class="category"><img src="img/it.png" alt="professionalCourses">
                    <figcaption>Przedmioty zawodowe</figcaption>
                </figure>
                <figure class="category"><img src="img/society.png" alt="society">
                    <figcaption>WOS</figcaption>
                </figure>
                <figure class="category"><img src="img/culture.png" alt="culture">
                    <figcaption>WOK</figcaption>
                </figure>

            </section>

            <!--<form class="offers" action="search" method="post" enctype="multipart/form-data"> -->
            <form class="offers" action="books" method="get">

                <input id="process" type="hidden" name="searchList" value="">
                <select required name="class">
                    <option value="">Do klasy</option>
                    <option value="1">1 - Pierwszej</option>
                    <option value="2">2 - Drugiej</option>
                    <option value="3">3 - Trzeciej</option>
                    <option value="4">4 - Czwartej</option>
                </select>
                <button onclick="findSubjects()" type="submit">Znajdź Oferty</button>

            </form>

            <section class="books">
                <i id="prevButton" class="fas fa-arrow-circle-left"></i>
                <i id="nextButton" class="fas fa-arrow-circle-right"></i>
                <h2 id="offersFound2" style="display: block;">Najnowsze oferty</h2>
                <h2 id="offersFound" style="display: none;">Znalezione oferty</h2>
                <span style="display: none;" class="info"><img  alt="Wskazówka" title="Porada" src="img/advice.png"></img>Wprowadź hasło, by edytować ofertę.</span>
                <div class="row">

                    <article id="n0" class="book">

                        <form action="login" name="modify" method="post" enctype="multipart/form-data"
                            style="display: none;">
                            <input type="hidden" name="modifyInfo" value="">
                            <input type="password" placeholder="Hasło" name="accessCode">
                            <button class="modify" type="submit">Modyfikuj</button>
                        </form>
                        <a href="img/books-bg.jpg" data-lightbox="n0l"><figure><img src="img/books-bg.jpg" alt=""></figure><img></a>

                        <div class="inner_row">
                            <button id="defaultOpen" onclick="openWindow(event, 'description')">Opis</button>
                            <button onclick="openWindow(event, 'contact')">Kontakt</button>
                            <button onclick="openWindow(event, 'items')">Przedmioty</button>
                        </div>
                        <section id="description" class="window">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat commodi sint qui
                                consectetur soluta consequuntur erisque enim ligula venenatis dola</p>
                        </section>
                        <section id="contact" class="window">
                            <p>Użytkownik: Bejcu</p>
                            <p>Telefon: 666-666-666</p>
                            <p> Email: wp@gmail.pl</p>
                        </section>
                        <section id="items" class="window">
                            <p>Chemia</p>
                            <p>Fizyka</p>
                            <p>J.angielski</p>
                        </section>
                    </article>
                    <article id="n1" class="book">

                        <form action="login" name="modify" method="post" enctype="multipart/form-data"
                            style="display: none;">
                            <input type="hidden" name="modifyInfo" value="">
                            <input type="password" placeholder="Hasło" name="accessCode">
                            <button class="modify" type="submit">Modyfikuj</button>
                        </form>
                        <a href="img/books-bg.jpg" data-lightbox="n1l"><figure><img src="img/books-bg.jpg" alt=""></figure><img></a>

                        <div class="inner_row">
                            <button id="defaultOpen" onclick="openWindow(event, 'description')">Opis</button>
                            <button onclick="openWindow(event, 'contact')">Kontakt</button>
                            <button onclick="openWindow(event, 'items')">Przedmioty</button>
                        </div>
                        <section id="description" class="window">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat commodi sint qui
                                consectetur soluta consequuntur erisque enim ligula venenatis dola</p>
                        </section>
                        <section id="contact" class="window">
                            <p>Użytkownik: Bejcu</p>
                            <p>Telefon: 666-666-666</p>
                            <p>Email: wp@gmail.pl</p>
                        </section>
                        <section id="items" class="window">
                            <p>Chemia</p>
                            <p>Fizyka</p>
                            <p>J.angielski</p>
                        </section>
                    </article>
                    <article id="n2" class="book">

                        <form action="login" name="modify" method="post" enctype="multipart/form-data"
                            style="display: none;">
                            <input type="hidden" name="modifyInfo" value="">
                            <input type="password" placeholder="Hasło" name="accessCode">
                            <button class="modify" type="submit">Modyfikuj</button>
                        </form>
                        <a href="img/books-bg.jpg" data-lightbox="n2l"><figure><img src="img/books-bg.jpg" alt=""></figure><img></a>

                        <div class="inner_row">
                            <button id="defaultOpen" onclick="openWindow(event, 'description')">Opis</button>
                            <button onclick="openWindow(event, 'contact')">Kontakt</button>
                            <button onclick="openWindow(event, 'items')">Przedmioty</button>
                        </div>
                        <section id="description" class="window">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat commodi sint qui
                                consectetur soluta consequuntur erisque enim ligula venenatis dola</p>
                        </section>
                        <section id="contact" class="window">
                            <p>Użytkownik: Bejcu</p>
                            <p>Telefon: 666-666-666</p>
                            <p> Email: wp@gmail.pl</p>
                        </section>
                        <section id="items" class="window">
                            <p>Chemia</p>
                            <p>Fizyka</p>
                            <p>J.angielski</p>
                        </section>
                    </article>
                    <article id="n3" class="book">

                        <form action="login" name="modify" method="post" enctype="multipart/form-data"
                            style="display: none;">
                            <input type="hidden" name="modifyInfo" value="">
                            <input type="password" placeholder="Hasło" name="accessCode">
                            <button class="modify" type="submit">Modyfikuj</button>
                        </form>
                        <a href="img/books-bg.jpg" data-lightbox="n3l"><figure><img src="img/books-bg.jpg" alt=""></figure><img></a>

                        <div class="inner_row">
                            <button id="defaultOpen" onclick="openWindow(event, 'description')">Opis</button>
                            <button onclick="openWindow(event, 'contact')">Kontakt</button>
                            <button onclick="openWindow(event, 'items')">Przedmioty</button>
                        </div>
                        <section id="description" class="window">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat commodi sint qui
                                consectetur soluta consequuntur erisque enim ligula venenatis dola</p>
                        </section>
                        <section id="contact" class="window">
                            <p>Użytkownik: Bejcu</p>
                            <p>Telefon: 666-666-666</p>
                            <p> Email: wp@gmail.pl</p>
                        </section>
                        <section id="items" class="window">
                            <p>Chemia</p>
                            <p>Fizyka</p>
                            <p>J.angielski</p>
                        </section>
                    </article>
                    <article id="n4" class="book">

                        <form action="login" name="modify" method="post" enctype="multipart/form-data"
                            style="display: none;">
                            <input type="hidden" name="modifyInfo" value="">
                            <input type="password" placeholder="Hasło" name="accessCode">
                            <button class="modify" type="submit">Modyfikuj</button>
                        </form>
                        <a href="img/books-bg.jpg" data-lightbox="n5l"><figure><img src="img/books-bg.jpg" alt=""></figure><img></a>

                        <div class="inner_row">
                            <button id="defaultOpen" onclick="openWindow(event, 'description')">Opis</button>
                            <button onclick="openWindow(event, 'contact')">Kontakt</button>
                            <button onclick="openWindow(event, 'items')">Przedmioty</button>
                        </div>
                        <section id="description" class="window">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat commodi sint qui
                                consectetur soluta consequuntur erisque enim ligula venenatis dola</p>
                        </section>
                        <section id="contact" class="window">
                            <p>Użytkownik: Bejcu</p>
                            <p>Telefon: 666-666-666</p>
                            <p> Email: wp@gmail.pl</p>
                        </section>
                        <section id="items" class="window">
                            <p>Chemia</p>
                            <p>Fizyka</p>
                            <p>J.angielski</p>
                        </section>
                    </article>
                </div>
            </section>

        </main>
        <footer>
            <p> 2019 &#169; Wszelkie prawa zastrzeżone. Support:
                <a href="https://github.com/Seeyja/zsi-market/graphs/contributors" target="_blank"><i class="fab fa-linkedin"></i></a>
            </p>
        </footer>
        <div id="valuation_window" class="valuation-window-back" class="pagination">

            <div id="offer_details2" class="valuation-window">
                <div class="offer-details-close">
                    <a href="javascript:closeValuationWindow()">&#10006;</a>
                </div>

                <h5> Nagłowek komunikatu</h5>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, fuga neque suscipit
                    sequi
                    aliquam atque alias? Voluptatum, cum odit praesentium eos repellendus, corrupti harum obcaecati amet
                    ad
                    incidunt animi?</p>

                <a href="javascript:closeValuationWindow()">Zamknij</a>

            </div>

        </div>

        <div id="valuation_window2" class="valuation-window-back" class="pagination">

            <div id="offer_details3" class="valuation-window">
                <div class="offer-details-close">
                    <a href="javascript:closeValuationWindow2()">&#10006;</a>
                </div>

                <h5> Nagłowek komunikatu</h5>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, fuga neque suscipit
                    sequi
                    aliquam atque alias? Voluptatum, cum odit praesentium eos repellendus, corrupti harum obcaecati amet
                    ad
                    incidunt animi?</p>

                <a href="javascript:closeValuationWindow2()">Zamknij</a>

            </div>

        </div>


    </div>
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
        </script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/main.js"></script>
    <script src="lib/dist/js/lightbox.js"></script>
    <script src="js/searchController.js"></script>
    <script src="js/showOffers.js"></script>
    <script>

    <% if (typeof hint !== 'undefined' && typeof type !== 'undefined') { %>
            let hint = " <%=hint%> ";
            let searchType = "<%=type%>";

            console.log(searchType);

            let placeB4, placeParent, imgType;
            let classe = "";

            switch (searchType) {

                case 'newUser':
                    showValuationWindow("Dodano ofertę", hint);
                    break;

                case 'correctCode':
                    showValuationWindow("Dodano ofertę", hint);
                    break;

                case 'modifiedOffer':
                    showValuationWindow("Zmodyfikowano ofertę", hint);
                    break;

                case 'byLogin':
                    placeB4 = '';
                    placeParent = ".my_offers";
                    imgType = "img/exclamation-mark.png";
                    break;

                case 'wrongCode':
                    placeB4 = '';
                    placeParent = ".books span";
                    imgType = "img/exclamation-mark.png"
                    break;

                case 'default':
                    placeB4 = '';
                    placeParent = ".offers";
                    imgType = "img/exclamation-mark.png"
                    break;

                case 'defaultNoOff':
                    placeB4 = '';
                    placeParent = ".offers";
                    imgType = "img/information.png"
                    break;

                case 'noOffer':
                    placeB4 = '';
                    placeParent = ".offers";
                    imgType = "img/exclamation-mark.png"
                    classe = "error2"
                    break;

                case 'update_success':
                    placeB4 = '#add_book_form';
                    placeParent = ".add_book";
                    imgType = "img/info.png"
                    break;

                default:
                    alert(hint);

            }



            // alert(hint);

            const validationInformation = (hint, parentSelector, insertB4Selector, imgType, classe) => {
                console.log(parentSelector, insertB4Selector);
                const parentElement = document.querySelector(parentSelector)
                const errorSpan = document.createElement("span");
                const errorImg = document.createElement("img");
                errorImg.src = imgType;
                errorSpan.classList.add("error");
                if (classe != "")
                    errorSpan.classList.add(classe);



                errorSpan.textContent = hint;
                // "Podany użytkownik nie ma żadnych aktualnych ofert!"
                // " Nie znaleziono ofert zawierajacych wszystkie szukane książki. Oto oferty zawierające niektóre z nich"
                if (insertB4Selector === '')
                    parentElement.append(errorSpan)

                else {
                    const placeToInsertB4 = document.querySelector(insertB4Selector);
                    parentElement.insertBefore(errorSpan, placeToInsertB4);
                }



                errorSpan.prepend(errorImg);
            }

            if (typeof placeParent != 'undefined')
                validationInformation(hint, placeParent, placeB4, imgType, classe);

            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }

    <% } %>

            "use strict";

        class Offer {
            constructor(id, username, num, email, description, grade, subjects, links, titles, priceFrom, priceTo, addDate) {

                this.id = id,
                    this.username = username,
                    this.num = num,
                    this.email = email,
                    this.description = description,
                    this.class = grade,
                    this.subjects = subjects.split(','),
                    this.links = links.split(','),
                    this.titles = titles.split(','),
                    this.priceFrom = priceFrom,
                    this.priceTo = priceTo
                this.addDate = addDate

            }
        }

        let clientSideResults = [];
        let oneOffer;

    <% if (typeof offersToShow != "undefined") for (i = 0; i < offersToShow.length; i++) { %>

            oneOffer = new Offer("<%= offersToShow[i].id %>", "<%= offersToShow[i].username %>", "<%= offersToShow[i].num %>", "<%= offersToShow[i].email %>", "<%= offersToShow[i].description %>",
                "<%= offersToShow[i].class %>", "<%= offersToShow[i].subjects %>", "<%= offersToShow[i].links %>", "<%= offersToShow[i].titles %>", "<%= offersToShow[i].priceFrom %>", "<%= offersToShow[i].priceTo %>", "<%= offersToShow[i].addDate %>");
            clientSideResults.push(oneOffer);

    <% } %>

            let counter = 0;
        showOffers(clientSideResults, counter, "first");
    <% if (typeof type != "undefined") { %>
            hideForm(`<%= type %>`)
            <% } %>
                document.getElementById('nextButton').addEventListener('click', function () {
                    cleanPhotos();
                    //alert();
                    counter++;
                    showOffers(clientSideResults, counter, "next");
                });
        document.getElementById('prevButton').addEventListener('click', function () {
            cleanPhotos();
            //alert();
            counter--;
            showOffers(clientSideResults, counter, "prev");
        });


    </script>
    <script>
        $(function () {
            var requiredCheckboxes = $(':checkbox[required]');
            requiredCheckboxes.change(function () {
                if (requiredCheckboxes.is(':checked')) {
                    requiredCheckboxes.removeAttr('required');
                } else {
                    requiredCheckboxes.attr('required', 'required');
                }
            });
        });

    </script>
    <script>
        // var myDropzone = new Dropzone("div#myDropzone", { url: "books" });
        // Dropzone.autoDiscover = false;

        //  $('main .add_book form .row button').click(function () {
        //      myDropzone.processQueue();
        // });
        //  myDropzone.processQueue();

        Dropzone.options.myDropzone = {
            url: 'books',
            paramName: function () { return 'file'; },
            //autoDiscover: false,
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 6,
            maxFiles: 6,
            maxFilesize: 5,
            acceptedFiles: 'image/*',
            addRemoveLinks: true,
            timeout: 180000,
            init: function () {
                dzClosure = this; // Makes sure that 'this' is understood inside the functions below.

                // for Dropzone to process the queue (instead of default form behavior):
                document.querySelector("#addOfferButton").addEventListener("click", function (e) {
                    // Make sure that the form isn't actually being sent.

                    const errorMessage = document.querySelector(".add_book span.validate");
                    const errorImage = `<img src="img/exclamation-mark.png">`;


                    let loginInputValue = document.forms["mainForm"]["login"].value;
                    let passwordInputValue = document.forms["mainForm"]["password"].value;
                    let classInputValue = document.forms["mainForm"]["class"].value;
                    let telInputValue = document.forms["mainForm"]["num"].value;
                    let emailInputValue = document.forms["mainForm"]["email"].value;
                    let textareaInputValue = document.forms["mainForm"]["description"].value.replace(/[\r\n]+/gm, "");
                    document.forms["mainForm"]["description"].value = textareaInputValue;
                    const checkboxChecked = $("input[type=checkbox]:checked").length;

                    const ruleLogin = /^[0-9a-zA-Z]+$/;
                    const rulePhone = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{3})$/;
                    const ruleEmail = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

                    if (!loginInputValue.match(ruleLogin)) {
                        errorMessage.innerHTML = `${errorImage}Wprowadź tylko znaki alfanumeryczne!`;
                        document.forms["mainForm"]["login"].focus();
                        return false;
                    } else if (loginInputValue.length > 15) {
                        errorMessage.innerHTML = `${errorImage}Maksymalna długość nazwy użytkownika to 15 znaków!`;
                        document.forms["mainForm"]["login"].focus();
                        return false;
                    } else if ((passwordInputValue.indexOf(' ') !== -1 || passwordInputValue == "") && document.forms["mainForm"]["password"].disabled == false) {
                        document.forms["mainForm"]["password"].value = "";
                        errorMessage.innerHTML = `${errorImage}Wypełnij pole z hasłem! Nie może zawierać spacji!`;
                        document.forms["mainForm"]["password"].focus();
                        return false;
                    } else if (classInputValue == "") {
                        document.forms["mainForm"]["class"].required = true;
                        errorMessage.innerHTML = `${errorImage}Wybierz klasę!`;
                        document.forms["mainForm"]["class"].focus();
                        return false;
                    } else if ((!telInputValue.match(rulePhone) || telInputValue == "") && emailInputValue == "") {
                        errorMessage.innerHTML = `${errorImage}Podaj numer w poprawnym formacie!`;
                        document.forms["mainForm"]["num"].focus();
                        return false;
                    } else if (!emailInputValue.match(ruleEmail) && telInputValue == "") {
                        errorMessage.innerHTML = `${errorImage}Podaj adres email w poprawnym formacie!`;
                        document.forms["mainForm"]["email"].focus();
                        return false;
                    } else if (textareaInputValue.length < 10) {
                        errorMessage.innerHTML = `${errorImage}Wypełnij pole z opisem! Powinno zawierać minimum 10 znaków!`;
                        document.forms["mainForm"]["description"].focus();
                        return false;
                    } else if (textareaInputValue.length > 150) {
                        errorMessage.innerHTML = `${errorImage}Opis może zawierać maksymalnie 150 znaków!`;
                        document.forms["mainForm"]["description"].focus();
                        return false;
                    } else if (!checkboxChecked) {
                        errorMessage.innerHTML = `${errorImage}Proszę zaznaczyć przynajmniej jeden przedmiot!`;
                        return false;
                    }

                    // e.preventDefault();
                    // e.stopPropagation();
                    // dzClosure.processQueue();
                    e.preventDefault();
                    e.stopPropagation();

                    if (dzClosure.files.length > 0)
                        dzClosure.processQueue()

                    else
                        dzClosure._uploadData([{ upload: { filename: '' } }], [{ filename: '', name: '', data: new Blob() }]);


                });



                this.on("success", function (file) {
                    alert("DODANE");
                });

                // send all the form data along with the files:
                this.on("sendingmultiple", function (data, xhr, formData) {

                    $(":input[name]", $(".add_book form")).each(function () {
                        console.log(this.name);

                        formData.append(this.name, $(':input[name=' + this.name + ']', $(".add_book form")).val());
                    });

                });

                this.on("error", (files, errorMessage) => {

                    if (`<h2>Incomplete response received from application</h2>` === errorMessage) {

                        showValuationWindow2('Niepoprawne dane', 'Sprawdź nazwę użytkownika oraz hasło i spróbuj ponownie!');

                        $.each(dzClosure.files, function (i, file) {
                            file.status = Dropzone.QUEUED
                        });

                        // $.each(message, function(i, item) {
                        //     $("#dropzoneErrors .errors ul").append("<li>" + message[i] + "</li>")
                        // });

                    }

                })

            }
        }//DropzoneEnd

        // Dropzone.prototype.requeueFiles = function(files){
        //     for (var i = 0, l = files.length, file; i < l; i++){
        //         file = files[i];
        //         file.status = Dropzone.ADDED;
        //         file.upload.progress = 0;
        //         file.upload.bytesSent = 0;
        //     }
        // }

    </script>
</body>

</html>