<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zsi-Market</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:400,700|Saira:400,700&amp;subset=latin-ext"
        rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <script
      src="http://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
</head>

<body>
    <div class="wrapper">
      <header class="clearfix">
          <a href="/"><figure class="logo"><img src="img/logo.png" alt="logo"></figure></a>
          <nav>
              <ul>
                  <li><a href="#"><i class="fas fa-star"></i>Obserwowane</a></li>
              </ul>
          </nav>


          <form class="my_offers" method="get" action="books">
            <input maxlength="15" pattern="\S+" required type="text" placeholder="Użytkownik" name="login">
            <button onclick="findSubjects()" type="submit">Moje oferty</button>
          </form>


      </header>
        <main>
            <section class="add_book">
                <form autocomplete="off" method="post" enctype="multipart/form-data" action="sendmodification">

                    <div class="row">
                        <input type="text" placeholder="Login" name="loginDisabled" disabled value="<%= keepData.username %>">
                        <input type="hidden" name="login" value="<%= keepData.username %>">
                        <input type="hidden" name="offerId" value="<%= offerId %>">
                        <label>Wybierz klasę</label>
                        <select name = "class" >
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>

                        <input type="tel" placeholder="Telefon" name="num" value="<%= keepData.num %>">
                        <input type="email" placeholder="Email" autocomplete="user-password" name="email" value="<%= keepData.email %>">
                    </div>
                    <div class="row clearfix">
                        <textarea placeholder="Opis" rows="6" name="description"><%= keepDescription %></textarea>
                        <fieldset name = "book_types">
                            <legend>Wybierz przedmioty</legend>
                            <label><input class="items_checkbox animationfix"
                                    type="checkbox" name="polish"><span>Język polski</span></label>
                            <label><input class="items_checkbox animationfix"
                                    type="checkbox" name="english"><span>Język angielski</span></label>
                            <label><input class="items_checkbox animationfix"
                                    type="checkbox" name="german"><span>Język niemiecki</span></label>
                            <label><input class="items_checkbox animationfix"
                                    type="checkbox" name="history"><span>Historia</label>
                                <label><input class="items_checkbox animationfix" type="checkbox" name="entrepreneurship"><span>P.przedsiębiorczości</span></label>
                            <label><input class="items_checkbox animationfix"
                                    type="checkbox" name="geography"><span>Geografia</span></label>
                            <label><input class="items_checkbox animationfix"
                                    type="checkbox" name="biology"><span>Biologia</span></label>
                            <label><input class="items_checkbox animationfix"
                                    type="checkbox" name="chemistry"><span>Chemia</span></label>
                            <label><input class="items_checkbox animationfix"
                                    type="checkbox" name="physics"><span>Fizyka</span></label>
                            <label><input class="items_checkbox animationfix"
                                    type="checkbox" name="math"><span>Matematyka</span></label>
                            <label><input class="items_checkbox animationfix" type="checkbox" name="safety"><span>EDB</span></label>
                            <label><input class="items_checkbox animationfix"
                                    type="checkbox" name="religion"><span>Religia</span></label>
                            <label><input class="items_checkbox animationfix"
                                    type="checkbox" name="professionalCourses"><span>Przedmioty zawodowe</span></label>
                            <label><input class="items_checkbox animationfix" type="checkbox" name="society"><span>WOS</span></label>
                            <label><input class="items_checkbox animationfix" type="checkbox" name="culture"><span>WOK</span></label>
                        </fieldset>
                        <span>Określ cenę</span>
                        <div class="inner_row">

                            <div id="html5"></div>
                            <input name="price_from" type="number" id="input-select" min="0" max="500" step="1" id="input-number">
                            <input name="price_to" type="number" min="0" max="500" step="1" id="input-number">

                            <input type="file" name="files" id="file" data-multiple-caption="{count} zdjęcia wybrane" multiple />
                            <label for="file"><span>Dodaj zdjęcia</span></label>
                            <div class="row">
                                <button type="submit">Zmodyfikuj ofertę</button>
                            </div>
                        </div>
                    </div>

                </form>





                <div class="HUJEC">
                  <% %>
                  <% for( one of keepPhotos){ %>
                  <%    if( one != "default.jpg" ){ %>
                   <form class="" action="deletePhoto" method="post" enctype="multipart/form-data">
                       <a target="_blank" href = "uploads/<%= one %>" class = "linkPhoto" ><%= one %></a>
                       <input type="hidden" name="unlink" value="<%= one %>">
                       <input type="hidden" id="loginDel" name="login" value="">
                       <input type="hidden" id="classDel" name="class" value="">
                       <input type="hidden" id="numberDel" name="num">
                       <input type="hidden" id="emailDel" name="email">
                       <input type="hidden" id="descriptionDel" name="description">
                       <input type="hidden" id="offerIdDel" name="offerId">
                       <input type="hidden" id="priceFromDel" name="priceFrom">
                       <input type="hidden" id="priceToDel" name="priceTo">
                       <input id="process" type="hidden" name="searchList" value="">


                       <button id = "submitDeleteBtn" class='delete' type="submit">Usuń zdjęcie</button>
                   </form>
                  <% }} %>
                </div>

            </section>

            <section class="select_category">
                <h2>Jakie książki Cię interesują?</h2>
                <figure class="category"><img src="img/poland.png" >
                    <figcaption>J.polski</figcaption>
                </figure>
                <figure class="category"><img src="img/england.png" alt="">
                    <figcaption>Język.angielski</figcaption>
                </figure>
                <figure class="category"><img src="img/germany.png" alt="">
                    <figcaption>J.niemiecki</figcaption>
                </figure>
                <figure class="category"><img src="img/history.png" alt="">
                    <figcaption>Historia</figcaption>
                </figure>
                <figure class="category"><img src="img/entrepreneurship.png" alt="">
                    <figcaption>P.przedsiębiorczości</figcaption>
                </figure>
                <figure class="category"><img src="img/geography.png" alt="">
                    <figcaption>Geografia</figcaption>
                </figure>
                <figure class="category"><img src="img/biology.png" alt="">
                    <figcaption>Biologia</figcaption>
                </figure>
                <figure class="category"><img src="img/chemistry.png" alt="">
                    <figcaption>Chemia</figcaption>
                </figure>
                <figure class="category"><img src="img/physics.png" alt="">
                    <figcaption>Fizyka</figcaption>
                </figure>
                <figure class="category"><img src="img/maths.png" alt="">
                    <figcaption>Matematyka</figcaption>
                </figure>
                <figure class="category"><img src="img/safety.png" alt="">
                    <figcaption>EDB</figcaption>
                </figure>
                <figure class="category"><img src="img/religion.png" alt="">
                    <figcaption>Religia</figcaption>
                </figure>
                <figure class="category"><img src="img/it.png" alt="">
                    <figcaption>Przedmioty zawodowe</figcaption>
                </figure>
                <figure class="category"><img src="img/society.png" alt="">
                    <figcaption>WOS</figcaption>
                </figure>
                <figure class="category"><img src="img/culture.png" alt="">
                    <figcaption>WOK</figcaption>
                </figure>
            </section>
            <section class="books">
                <h2>Wybierz coś dla siebie</h2>
                <div class="row">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </section>
        </main>
        <footer></footer>
    </div>
    <script src="js/searchController.js"></script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/main.js"></script>


    <script>
    <% if( typeof hint !== 'undefined' ){ %>
       let hint = " <%=hint%> ";
       alert( hint );

    <% } %>
    <%
    console.log("I AM GONNA CLEAN THIS RLY");
    console.log( typeof "keepBookTypes");

    let arrayFromString;
    if ( typeof keepBookTypes == "string")
        arrayFromString = keepBookTypes.split(' ');
    else
        arrayFromString = keepBookTypes;

    if ( typeof arrayFromString !== "undefined"){
      for ( subject of arrayFromString ){
        if( typeof subject !== 'undefined' ){
          console.log(subject);
        %>
          document.getElementsByName('<%=subject%>')[0].checked = true;
        <%
        }//end if undefined
      }//end for in
    }//end
    %>

    document.getElementsByName('price_from')[0].value = <%=keepMinPrice%>;
    document.getElementsByName('price_to')[0].value = <%=keepMaxPrice%>;
    
    function getAndSetData(){

      document.getElementsByName('login').forEach( single => {single.value = document.getElementsByName('login')[1].value; } )
      document.getElementsByName('class').forEach( single => {single.value = document.getElementsByName('class')[0].value; } )
      document.getElementsByName('num').forEach( single => {single.value = document.getElementsByName('num')[0].value; } )
      document.getElementsByName('email').forEach( single => {single.value = document.getElementsByName('email')[0].value; } )
      document.getElementsByName('description').forEach( single => {single.value = document.getElementsByName('description')[0].value; } )
      document.getElementsByName('offerId').forEach( single => {single.value = document.getElementsByName('offerId')[0].value; } )
      document.getElementsByName('priceTo').forEach( single => {single.value = document.getElementsByName('price_to')[0].value; } )
      document.getElementsByName('priceFrom').forEach( single => {single.value = document.getElementsByName('price_from')[0].value; } )
      //document.getElementsByName('process').forEach( single => {single.value = document.getElementById('process2').value;

    }
    getAndSetData();
    findSelectedSubjects();

    let classChanger = document.getElementsByName('class')[0].childNodes[<%= keepClass * 2 - 1 %>];
    classChanger.setAttribute("selected", "selected");

    // let minPriceChanger = document.getElementsByName('price_from')[0].childNodes[<%= keepMaxPrice * 2 - 1 %>];
    // let maxPriceChanger = document.getElementsByName('price_to')[0].childNodes[<%= keepMinPrice * 2 - 1 %>];
    // console.log( maxPriceChanger = document.getElementsByName('price_to')[0].childNodes )
    // minPriceChanger.setAttribute("selected", "selected");


    </script>
</body>

</html>
