<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zsi-Market</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:400,700|Saira:400,700&amp;subset=latin-ext"
        rel="stylesheet">
    <link href="lib/dist/css/lightbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    </style>
</head>

<body>
    <div class="wrapper">
        <header class="clearfix">
            <a href="http://sellfast.pl"><figure class="logo"><img src="img/logo.png" alt="logo"></figure></a>
            <nav>
                <ul>
                    <!-- <li><a href="#"><i class="fas fa-star"></i>Obserwowane</a></li> -->
                </ul>
            </nav>


            <form class="my_offers" method="get" action="books">
                <span class="info"><img  alt="Wskazówka" title="Porada" src="img/advice.png"></img>Wprowadź nazwę by wyświetlić swoje aktualne oferty.</span>
                <input maxlength="15" pattern="\S+" required type="text" placeholder="Użytkownik" name="login">
                <button onclick="findSubjects()" type="submit">Moje oferty</button>
            </form>


        </header>
        <main>
            

            
                

        </main>
        <footer>
            <p> 2019 &#169; Wszelkie prawa zastrzeżone. Support:
                <a href="https://github.com/Seeyja/zsi-market/graphs/contributors" target="_blank"><i class="fab fa-linkedin"></i></a>
            </p>
        </footer>
        <div id="valuation_window" class="valuation-window-back" class="pagination">

            <div id="offer_details2" class="valuation-window">
                <div class="offer-details-close">
                    <a href="javascript:closeValuationWindow()">&#10006;</a>
                </div>

                <h5> Nagłowek komunikatu</h5>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, fuga neque suscipit
                    sequi
                    aliquam atque alias? Voluptatum, cum odit praesentium eos repellendus, corrupti harum obcaecati amet
                    ad
                    incidunt animi?</p>

                <a href="javascript:closeValuationWindow()">Zamknij</a>

            </div>

        </div>
    </div>
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
        </script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/main.js"></script>
    <script src="lib/dist/js/lightbox.js"></script>
    <script src="js/searchController.js"></script>
    <script src="js/showOffers.js"></script>
    <script>
        

    // showValuationWindow("Dodano ofertę i użytkownika", "Witaj ziomo! </br> Twoje hasło to: HUJEC");
    <% if (typeof hint !== 'undefined' && typeof type !== 'undefined') { %>
            let hint = " <%=hint%> ";
            let searchType = "<%=type%>";

            console.log(searchType);

            let placeB4, placeParent, imgType;

                switch (searchType) {

                    case 'newUser':
                        showValuationWindow("Dodano ofertę", hint);
                        break;
                    
                    case 'correctCode':
                        showValuationWindow("Dodano ofertę", hint);
                        break;
                    
                    case 'modifiedOffer':
                        showValuationWindow("Zmodyfikowano ofertę", hint);
                        break;

                    case 'byLogin':
                        placeB4 = '';
                        placeParent = ".my_offers";
                        imgType = "img/exclamation-mark.png";
                        break;
                    
                    case 'wrongCode':
                        placeB4 = '';
                        placeParent = ".books span";
                        imgType = "img/exclamation-mark.png"
                        break;

                    case 'default':
                        placeB4 = '';
                        placeParent = ".offers";
                        imgType = "img/exclamation-mark.png"
                        break;

                    case 'defaultNoOff':
                        placeB4 = '';
                        placeParent = ".offers";
                        imgType = "img/information.png"
                        break;

                    case 'update_success':
                        placeB4 = '#add_book_form';
                        placeParent = ".add_book";
                        imgType = "img/info.png"
                        break;

                    default:
                        alert(hint);

                }



            // alert(hint);

            const validationInformation = (hint, parentSelector, insertB4Selector, imgType) => {
                console.log(parentSelector, insertB4Selector);
                const parentElement = document.querySelector(parentSelector)
                const errorSpan = document.createElement("span");
                const errorImg = document.createElement("img");
                errorImg.src = imgType;
                errorSpan.classList.add("error");
                errorSpan.textContent = hint;
                // "Podany użytkownik nie ma żadnych aktualnych ofert!"
                // " Nie znaleziono ofert zawierajacych wszystkie szukane książki. Oto oferty zawierające niektóre z nich"
                if (insertB4Selector === '')
                    parentElement.append(errorSpan)

                else {
                    const placeToInsertB4 = document.querySelector(insertB4Selector);
                    parentElement.insertBefore(errorSpan, placeToInsertB4);
                }



                errorSpan.prepend(errorImg);
            }

            if (typeof placeParent != 'undefined')
                validationInformation(hint, placeParent, placeB4, imgType);

    <% } %>

            "use strict";

        class Offer {
            constructor(id, username, num, email, description, grade, subjects, links, titles, priceFrom, priceTo) {

                this.id = id,
                    this.username = username,
                    this.num = num,
                    this.email = email,
                    this.description = description,
                    this.class = grade,
                    this.subjects = subjects.split(','),
                    this.links = links.split(','),
                    this.titles = titles.split(','),
                    this.priceFrom = priceFrom,
                    this.priceTo = priceTo

            }
        }

        let clientSideResults = [];
        let oneOffer;

    <% if (typeof offersToShow != "undefined") for (i = 0; i < offersToShow.length; i++) { %>

            oneOffer = new Offer("<%= offersToShow[i].id %>", "<%= offersToShow[i].username %>", "<%= offersToShow[i].num %>", "<%= offersToShow[i].email %>", "<%= offersToShow[i].description %>",
                "<%= offersToShow[i].class %>", "<%= offersToShow[i].subjects %>", "<%= offersToShow[i].links %>", "<%= offersToShow[i].titles %>", "<%= offersToShow[i].priceFrom %>", "<%= offersToShow[i].priceTo %>");
            clientSideResults.push(oneOffer);

    <% } %>

            let counter = 0;
        showOffers(clientSideResults, counter, "first");
    <% if (typeof type != "undefined") { %>
            hideForm(`<%= type %>`)
            <% } %>
                document.getElementById('nextButton').addEventListener('click', function () {
                    cleanPhotos();
                    //alert();
                    counter++;
                    showOffers(clientSideResults, counter, "next");
                });
        document.getElementById('prevButton').addEventListener('click', function () {
            cleanPhotos();
            //alert();
            counter--;
            showOffers(clientSideResults, counter, "prev");
        });
    </script>
    <script>
        $(function () {
            var requiredCheckboxes = $(':checkbox[required]');
            requiredCheckboxes.change(function () {
                if (requiredCheckboxes.is(':checked')) {
                    requiredCheckboxes.removeAttr('required');
                } else {
                    requiredCheckboxes.attr('required', 'required');
                }
            });
        });

    </script>

</body>

</html>